<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <table>
    <% for( let index = 0; index < messages.length; index++ ) { %>
        <tr>
          <td><%= messages[index].text  %></td>
          <td><%= messages[index].user  %></td>
          <td><%= messages[index].added  %></td>
        </tr>
    <% } %>
  </table>
  <form action="/new" method="get">
    <input type="submit" value="new user">
  </form>
</body>

</html>